.navbar-sign-up {
    text-decoration: none;
    color: black;
}

.jumbotron {
    height: 346px;
    background-size: cover;
    background-image: url("../img/pizza-img.png");
}
h1 {

    text-align: center;
}
.main h2 {
    font-size: 30px;
    font-weight: 600;
}
