* {
    /*margin: 0;*/
    /*padding:0;*/
    /*box-sizing: border-box;*/
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
}

.fancy-header {
    color: green;
    /*margin: 50px auto;*/
    /*width: 500px;*/
    /*padding: 10px;*/
}

strong, em {
    color: darkgreen;
    text-decoration: underline;
}

h1{
    background-color: #c4b193;
    width: 500px;
    padding: 25px;
    border-radius: 25px;
    margin: auto;
}

.fancy-header , p {
    text-align: center;
}

h2 {
    color: #013a01;
    border: 5px #013a01;
}

body{
    background-color: #ead6b2;
}

main section, figure{
    text-align: center;
}


ul , ol{
    width: fit-content;
    list-style-type: square;
    color: #006400;
    margin: 0 auto;
}
.center {
    margin-left: auto;
    margin-right: auto;
    color: green;
}

tr {
    font-size: 18px;
    background-color: #b9e390;

}

a:hover{
    color: #013a01;
}

a:visited {
    color: deepskyblue;
}

a:active{
    color: red;
}
#container {
    background-image: url("../img/pexels-eva-bronzini-7598536.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    border-radius: 75px;
    margin: 20px;
    padding: 20px;
}

footer {
    text-align: center;
}

.center {

}